[run]
omit =
    .venv/*
    scripts/*
    */test_*.py

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
